.root{
    height: 100%;
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: max-content 1fr;

    @media (--mobile-l) {
        height: 100%;
        grid-template-rows:auto;
        grid-template-columns: max-content 1fr;
    }
    @media (--desktop) {
        height: 100vh;
    }
}
.title{
    @media (--mobile-l) {
        margin-right: 10px;
    }
}

.information{
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    color: var(--light-background-color);
    @media (--desktop) {
        overflow: auto;
        -ms-overflow-style: none;
    }

    &::-webkit-scrollbar { width: 0; }
}

.informationItem{
    background: var(--border-background-color);
    padding: 20px;
    display: grid;
    grid-gap: 4px;
    align-items: center;
    .about{
        background: var(--default-background-color);
    }
    &:nth-child(odd){
        background: var(--default-background-color);
        .about{
            background: var(--border-background-color);
        }
    }

    @media (--mobile-l) {
        grid-template-columns: 1fr 1fr;
    }

}
.date{
    font-family: var(--font-monoton);
    font-size: 22px;
    margin-bottom: 10px;
    text-decoration: underline 2px solid var(--light-background-color);
    text-underline-offset: 6px;
    width: max-content;
    text-transform: uppercase;
    max-width: 300px;

    @media (--mobile-l) {
        font-size: 32px;
        border-bottom:none;
    }
    @media (--desktop-m) {
        max-width: none;
    }
}
.about{
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: var(--font-red-hat);
    text-align: start;
    padding: 12px;
}
.workplace{
    font-size: 20px;
    color: var(--second-background-color);
    @media (--mobile-l) {
        font-size: 28px;
    }
}

.subtitle{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.post{
    font-family: var(--font-cutive);
    color: var(--subtext-color);
}
.tasks{
    padding-left: 16px;
}
.moreButton {
    position: fixed;
    background: none;
    border: none;
    left: 50%;
    display: none;
    opacity: 0.2;
    justify-content: center;

    &:hover {
        opacity: 0.6;
    }

    &::after {
        content: url("/static/navigation/down.svg");
    }

    @media (--mobile-l) {
        display: flex;
        left: calc(50% + 55px);
    }

    @media (--desktop) {
        left: calc(50% + 149px);
    }
}

.buttonDown{
    transform: translateX(-50%) rotate(0deg);
    bottom: 20px;
}

.buttonUp{
    transform: translateX(-50%) rotate(180deg);
    top: 20px;
}
