.containerDiagram{
    width: 100vw;
    height: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.rightDiagram{
    margin-top: -28%;
    margin-left: -24%;
}
.leftDiagram{
    margin-top: -28%;
    margin-right: -24%;
}

.diagram{
    max-width: 100%;
    max-height: calc(100vh - 40px);
}

.diagramTitle{
    margin-bottom: 30%;
}

.title{
    font-size: 34px;
    padding: 10px 20px 0;
    color: var(--light-background-color);
    font-family: 'Monoton', cursive;
    border-bottom: 10px solid var(--border-background-color);
    @media(--mobile-l){
        text-align: center;
        border-bottom:none;
        border-left: 12px solid var(--border-background-color);
        font-size: 46px;
        padding: 0 10px;
    }
    @media (--desktop-m) {
        font-size: 52px;
    }
}