.containerDiagram{
    width: 100vw;
    height: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.rightDiagram{
    margin-top: -28%;
    margin-left: -24%;
}
.leftDiagram{
    margin-top: -28%;
    margin-right: -24%;
}

.diagram{
    max-width: 100%;
    max-height: calc(100vh - 40px);
}