.root{
    height: 20px;
    width: 100%;
    background-color: var(--main-background-color);
    border-radius: 50px;
}

.fillers {
    height: 100%;
    background: var(--second-background-color);
    border-radius: inherit;
}